In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [4]:
#merch = pd.read_csv('data/BOLT UBC First Byte - Merchandise Sales.csv')

#fanbase = pd.read_csv('data/BOLT UBC First Byte - Fanbase Engagement.csv')

stadium = pd.read_csv('data/BOLT UBC First Byte - Stadium Operations.csv')

In [6]:
stadium.head()

   Month      Source  Revenue
0      1  Upper Bowl    25020
1      2  Upper Bowl   686664
2      3  Upper Bowl   434112
3      4  Upper Bowl   390879
4      5  Upper Bowl   286524

In [9]:
stadium.describe()

            Month       Revenue
count  144.000000  1.440000e+02
mean     6.500000  9.189942e+04
std      3.464102  1.341148e+06
min      1.000000 -3.527500e+06
25%      3.750000 -1.751925e+05
50%      6.500000  1.420000e+05
75%      9.250000  4.378755e+05
max     12.000000  3.410190e+06

In [10]:
stadium.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Month    144 non-null    int64
 1   Source   144 non-null    object
 2   Revenue  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB