In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [11]:
merch = pd.read_csv('data/BOLT UBC First Byte - Merchandise Sales.csv')

fanbase = pd.read_csv('data/BOLT UBC First Byte - Fanbase Engagement.csv')

stadium = pd.read_csv('data/BOLT UBC First Byte - Stadium Operations.csv')

In [6]:
stadium.head()

   Month      Source  Revenue
0      1  Upper Bowl    25020
1      2  Upper Bowl   686664
2      3  Upper Bowl   434112
3      4  Upper Bowl   390879
4      5  Upper Bowl   286524

In [9]:
stadium.describe()

            Month       Revenue
count  144.000000  1.440000e+02
mean     6.500000  9.189942e+04
std      3.464102  1.341148e+06
min      1.000000 -3.527500e+06
25%      3.750000 -1.751925e+05
50%      6.500000  1.420000e+05
75%      9.250000  4.378755e+05
max     12.000000  3.410190e+06

In [10]:
stadium.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Month    144 non-null    int64
 1   Source   144 non-null    object
 2   Revenue  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

In [12]:
merch.head()

,Product_ID,Barcode,Item_Category,Item_Name,Size,Unit_Price,Customer_Age_Group,Customer_Region,Promotion,Channel,Selling_Date,Member_ID,Arrival_Date
0,10000000,20000000,Cap,Classic Cap,NaN,35,18–25,Domestic,False,Online,2024-02-14 09:30,10008632,2024-02-22 13:49
1,10000000,20000001,Cap,Classic Cap,NaN,35,26–40,Domestic,False,Team Store,2024-01-31 14:30,10005467,NaN
2,10000000,20000002,Cap,Classic Cap,NaN,35,18–25,Domestic,False,Team Store,2024-04-30 18:57,10026081,NaN
3,10000000,20000003,Cap,Classic Cap,NaN,35,<18,Domestic,True,Online,2024-02-01 18:25,10005726,2024-02-09 12:35
4,10000000,20000004,Cap,Classic Cap,NaN,35,<18,International,False,Team Store,2024-11-24 14:07,10042598,NaN

In [14]:
merch.describe()

         Product_ID       Barcode    Unit_Price     Member_ID
count  6.787700e+04  6.787700e+04  67877.000000  6.787700e+04
mean   1.000001e+07  2.003394e+07     95.129882  1.002226e+07
std    4.603017e+00  1.959455e+04     49.893563  1.284130e+04
min    1.000000e+07  2.000000e+07     20.000000  1.000000e+07
25%    1.000000e+07  2.001697e+07     50.000000  1.001115e+07
50%    1.000000e+07  2.003394e+07     75.000000  1.002229e+07
75%    1.000001e+07  2.005091e+07    152.000000  1.003338e+07
max    1.000002e+07  2.006788e+07    152.000000  1.004452e+07

In [15]:
merch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67877 entries, 0 to 67876
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_ID          67877 non-null  int64
 1   Barcode             67877 non-null  int64
 2   Item_Category       67877 non-null  object
 3   Item_Name           67877 non-null  object
 4   Size                52041 non-null  object
 5   Unit_Price          67877 non-null  int64
 6   Customer_Age_Group  67877 non-null  object
 7   Customer_Region     67877 non-null  object
 8   Promotion           67877 non-null  bool
 9   Channel             67877 non-null  object
 10  Selling_Date        67877 non-null  object
 11  Member_ID           67877 non-null  int64
 12  Arrival_Date        54302 non-null  object
dtypes: bool(1), int64(4), object(8)
memory usage: 6.3+ MB

In [16]:
fanbase.head()

   Membership_ID Age_Group  Games_Attended  Seasonal_Pass Customer_Region
0       10218708     18-25               3          False          Canada
1       10043567     18-25               2          False          Canada
2       14272475     41-60               2          False          Canada
3       10034985     18-25               5          False          Canada
4       10004699     18-25               7          False          Canada

In [17]:
fanbase.describe()

       Membership_ID  Games_Attended
count   7.000000e+04    70000.000000
mean    2.464124e+07        5.711414
std     2.595011e+07        5.168150
min     1.370000e+03        1.000000
25%     1.001510e+07        3.000000
50%     1.003260e+07        5.000000
75%     3.167822e+07        7.000000
max     9.999924e+07       30.000000

In [18]:
fanbase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Membership_ID    70000 non-null  int64
 1   Age_Group        70000 non-null  object
 2   Games_Attended   70000 non-null  int64
 3   Seasonal_Pass    70000 non-null  bool
 4   Customer_Region  70000 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 2.2+ MB

Initial findings: no need to drop duplicates, several null values in merch: size and merch: arrival date