In [34]:
import pandas as pd
import numpy as np
import altair as alt

In [21]:
merch = pd.read_csv('data/raw/BOLT UBC First Byte - Merchandise Sales.csv')

fanbase = pd.read_csv('data/raw/BOLT UBC First Byte - Fanbase Engagement.csv')

stadium = pd.read_csv('data/raw/BOLT UBC First Byte - Stadium Operations.csv')

In [22]:
#function for initial inspection of the three datasets

def inspect_data(df):
    head = df.head()
    describe = df.describe()
    info = df.info()

    return(head, describe, info)

## Data Inspection

In [23]:
inspect_data(stadium)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Month    144 non-null    int64
 1   Source   144 non-null    object
 2   Revenue  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB

(   Month      Source  Revenue
 0      1  Upper Bowl    25020
 1      2  Upper Bowl   686664
 2      3  Upper Bowl   434112
 3      4  Upper Bowl   390879
 4      5  Upper Bowl   286524,
             Month       Revenue
 count  144.000000  1.440000e+02
 mean     6.500000  9.189942e+04
 std      3.464102  1.341148e+06
 min      1.000000 -3.527500e+06
 25%      3.750000 -1.751925e+05
 50%      6.500000  1.420000e+05
 75%      9.250000  4.378755e+05
 max     12.000000  3.410190e+06,
 None)

In [44]:
pd.to_datetime(merch['Arrival_Date'], errors='coerce')
pd.to_datetime(merch['Selling_Date'], errors='coerce')

27851   2023-12-01 04:42:00
30472   2023-12-01 06:03:00
49291   2023-12-01 23:55:00
17289   2023-12-01 04:16:00
12321   2023-12-01 01:30:00
                ...
67824   2024-04-19 13:43:00
67827   2024-07-05 17:46:00
67829   2024-11-08 18:58:00
67841   2024-02-23 16:45:00
67848   2023-12-30 14:01:00
Name: Selling_Date, Length: 67877, dtype: datetime64[ns]

In [42]:
inspect_data(merch)

<class 'pandas.core.frame.DataFrame'>
Index: 67877 entries, 27851 to 67848
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_ID          67877 non-null  int64
 1   Barcode             67877 non-null  int64
 2   Item_Category       67877 non-null  object
 3   Item_Name           67877 non-null  object
 4   Size                67877 non-null  object
 5   Unit_Price          67877 non-null  int64
 6   Customer_Age_Group  67877 non-null  object
 7   Customer_Region     67877 non-null  object
 8   Promotion           67877 non-null  bool
 9   Channel             67877 non-null  object
 10  Selling_Date        67877 non-null  object
 11  Member_ID           67877 non-null  int64
 12  Arrival_Date        67877 non-null  object
dtypes: bool(1), int64(4), object(8)
memory usage: 6.8+ MB

(       Product_ID   Barcode Item_Category        Item_Name     Size  \
 27851    10000008  20027851           Mug         Logo Mug  Missing
 30472    10000002  20030472        Hoodie      Team Hoodie      XXL
 49291    10000003  20049291        Hoodie  Training Hoodie      XXL
 17289    10000001  20017289           Cap        Retro Cap  Missing
 12321    10000001  20012321           Cap        Retro Cap  Missing

        Unit_Price Customer_Age_Group Customer_Region  Promotion Channel  \
 27851          25              18–25        Domestic      False  Online
 30472          75              41–60        Domestic       True  Online
 49291          75              18–25        Domestic       True  Online
 17289          35              41–60        Domestic      False  Online
 12321          35              41–60        Domestic      False  Online

            Selling_Date  Member_ID      Arrival_Date
 27851  2023-12-01 04:42   10000024  2023-12-06 09:25
 30472  2023-12-01 06:03   10000022  2023-12-06 17:24
 49291  2023-12-01 23:55   10000069  2023-12-07 10:35
 17289  2023-12-01 04:16   10000034  2023-12-07 11:20
 12321  2023-12-01 01:30   10000033  2023-12-07 11:48  ,
          Product_ID       Barcode    Unit_Price     Member_ID
 count  6.787700e+04  6.787700e+04  67877.000000  6.787700e+04
 mean   1.000001e+07  2.003394e+07     95.129882  1.002226e+07
 std    4.603017e+00  1.959455e+04     49.893563  1.284130e+04
 min    1.000000e+07  2.000000e+07     20.000000  1.000000e+07
 25%    1.000000e+07  2.001697e+07     50.000000  1.001115e+07
 50%    1.000000e+07  2.003394e+07     75.000000  1.002229e+07
 75%    1.000001e+07  2.005091e+07    152.000000  1.003338e+07
 max    1.000002e+07  2.006788e+07    152.000000  1.004452e+07,
 None)

In [25]:
inspect_data(fanbase)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Membership_ID    70000 non-null  int64
 1   Age_Group        70000 non-null  object
 2   Games_Attended   70000 non-null  int64
 3   Seasonal_Pass    70000 non-null  bool
 4   Customer_Region  70000 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 2.2+ MB

(   Membership_ID Age_Group  Games_Attended  Seasonal_Pass Customer_Region
 0       10218708     18-25               3          False          Canada
 1       10043567     18-25               2          False          Canada
 2       14272475     41-60               2          False          Canada
 3       10034985     18-25               5          False          Canada
 4       10004699     18-25               7          False          Canada,
        Membership_ID  Games_Attended
 count   7.000000e+04    70000.000000
 mean    2.464124e+07        5.711414
 std     2.595011e+07        5.168150
 min     1.370000e+03        1.000000
 25%     1.001510e+07        3.000000
 50%     1.003260e+07        5.000000
 75%     3.167822e+07        7.000000
 max     9.999924e+07       30.000000,
 None)

## Impute Nulls

Initial findings: several null values in merch: size and merch: arrival date. Try imputing missing values for merch sizing with 'Missing' value, imputing missing values for arrival date with a forward fill, after sorting by date.

In [26]:
merch['Size'] = merch['Size'].fillna('Missing')

merch = merch.sort_values(by='Arrival_Date')

merch['Arrival_Date'] = merch['Arrival_Date'].ffill()

In [27]:
inspect_data(merch)

<class 'pandas.core.frame.DataFrame'>
Index: 67877 entries, 27851 to 67848
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_ID          67877 non-null  int64
 1   Barcode             67877 non-null  int64
 2   Item_Category       67877 non-null  object
 3   Item_Name           67877 non-null  object
 4   Size                67877 non-null  object
 5   Unit_Price          67877 non-null  int64
 6   Customer_Age_Group  67877 non-null  object
 7   Customer_Region     67877 non-null  object
 8   Promotion           67877 non-null  bool
 9   Channel             67877 non-null  object
 10  Selling_Date        67877 non-null  object
 11  Member_ID           67877 non-null  int64
 12  Arrival_Date        67877 non-null  object
dtypes: bool(1), int64(4), object(8)
memory usage: 6.8+ MB

(       Product_ID   Barcode Item_Category        Item_Name     Size  \
 27851    10000008  20027851           Mug         Logo Mug  Missing
 30472    10000002  20030472        Hoodie      Team Hoodie      XXL
 49291    10000003  20049291        Hoodie  Training Hoodie      XXL
 17289    10000001  20017289           Cap        Retro Cap  Missing
 12321    10000001  20012321           Cap        Retro Cap  Missing

        Unit_Price Customer_Age_Group Customer_Region  Promotion Channel  \
 27851          25              18–25        Domestic      False  Online
 30472          75              41–60        Domestic       True  Online
 49291          75              18–25        Domestic       True  Online
 17289          35              41–60        Domestic      False  Online
 12321          35              41–60        Domestic      False  Online

            Selling_Date  Member_ID      Arrival_Date
 27851  2023-12-01 04:42   10000024  2023-12-06 09:25
 30472  2023-12-01 06:03   10000022  2023-12-06 17:24
 49291  2023-12-01 23:55   10000069  2023-12-07 10:35
 17289  2023-12-01 04:16   10000034  2023-12-07 11:20
 12321  2023-12-01 01:30   10000033  2023-12-07 11:48  ,
          Product_ID       Barcode    Unit_Price     Member_ID
 count  6.787700e+04  6.787700e+04  67877.000000  6.787700e+04
 mean   1.000001e+07  2.003394e+07     95.129882  1.002226e+07
 std    4.603017e+00  1.959455e+04     49.893563  1.284130e+04
 min    1.000000e+07  2.000000e+07     20.000000  1.000000e+07
 25%    1.000000e+07  2.001697e+07     50.000000  1.001115e+07
 50%    1.000000e+07  2.003394e+07     75.000000  1.002229e+07
 75%    1.000001e+07  2.005091e+07    152.000000  1.003338e+07
 max    1.000002e+07  2.006788e+07    152.000000  1.004452e+07,
 None)

In [28]:
for column in merch.columns:
    print(f"Unique values in '{column}': {merch[column].unique()}")

Unique values in 'Product_ID': [10000008 10000002 10000003 10000001 10000000 10000006 10000012 10000015
 10000009 10000014 10000011 10000013 10000005 10000004 10000007 10000010
 10000016 10000017]
Unique values in 'Barcode': [20027851 20030472 20049291 ... 20067829 20067841 20067848]
Unique values in 'Item_Category': ['Mug' 'Hoodie' 'Cap' 'Jersey' 'Scarf' 'Youth Jersey' 'Poster'
 'Youth Hoodie']
Unique values in 'Item_Name': ['Logo Mug' 'Team Hoodie' 'Training Hoodie' 'Retro Cap' 'Classic Cap'
 'Retro Jersey' 'Home Scarf' 'Youth Away Jersey' 'Player Poster'
 'Youth Training Hoodie' 'Away Scarf' 'Youth Team Hoodie' 'Home Jersey'
 'Away Jersey' 'Club Mug' 'Team Poster' 'Youth Home Jersey'
 'Youth Retro Jersey']
Unique values in 'Size': ['Missing' 'XXL' 'S' 'XL' 'L' 'YL' 'M' 'YS' 'YM']
Unique values in 'Unit_Price': [ 25  75  35 152  40  90  20  50]
Unique values in 'Customer_Age_Group': ['18–25' '41–60' '26–40' '<18' '60+']
Unique values in 'Customer_Region': ['Domestic' 'International']
Unique values in 'Promotion': [False  True]
Unique values in 'Channel': ['Online' 'Team Store']
Unique values in 'Selling_Date': ['2023-12-01 04:42' '2023-12-01 06:03' '2023-12-01 23:55' ...
 '2024-11-08 18:58' '2024-02-23 16:45' '2023-12-30 14:01']
Unique values in 'Member_ID': [10000024 10000022 10000069 ... 10023636 10010807 10001610]
Unique values in 'Arrival_Date': ['2023-12-06 09:25' '2023-12-06 17:24' '2023-12-07 10:35' ...
 '2025-01-10 16:38' '2025-01-10 17:33' '2025-01-10 18:51']

In [29]:
for column in fanbase.columns:
    print(f"Unique values in '{column}': {fanbase[column].unique()}")

Unique values in 'Membership_ID': [10218708 10043567 14272475 ... 43388235 22532180 10035894]
Unique values in 'Age_Group': ['18-25' '41-60' '<18' '26-40' '60+']
Unique values in 'Games_Attended': [ 3  2  5  7  8 30  6 19  4 28  1 18 25 21 24 17 22 16 27 26 23 29 20 15]
Unique values in 'Seasonal_Pass': [False  True]
Unique values in 'Customer_Region': ['Canada' 'USA' 'Japan' 'India' 'China' 'South Korea' 'UK']

In [30]:
for column in stadium.columns:
    print(f"Unique values in '{column}': {stadium[column].unique()}")

Unique values in 'Month': [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique values in 'Source': ['Upper Bowl' 'Lower Bowl' 'Season' 'Premium' 'Food' 'Staff' 'Concert'
 'Conference' 'Insurance' 'Maintenance' 'Utilities' 'Advertising']
Unique values in 'Revenue': [   25020   686664   434112   390879   286524   187056   307230   462672
   358527   658944    58077        0  1154980  3327450  3204408  2628288
  2122992  1289960  1778832  2945364  2249916  3410190   556924   527340
   535923   478674   438702   228874   289464   480942   411540   416043
    35145   398400   272160   243033   169320   107856   183534   318816
   259521   314427    19965   443982  2777643  2596206  2227200  1723476
  1208020  1469214  2357364  2001792  2844126   299296 -2765000 -3400000
 -3318000 -3362000 -3361500 -3198000 -3485000 -3527500 -3276000 -3483000
 -3108000   450000   285000   620000  1200000   420000   720000  1180000
   240000    75000    70000   146000    71000    69000   144000    68500
   140000   225000   243000  -160000 -1500000  -540000  -415000  -430000
  -500000  -530000  -490000  -510000  -525000 -1000000  -890000  -269093
  -220770  -221023  -235475  -301120  -350674  -431345  -315497  -221451
  -234718  -349573  -319202   437600   485000   432000   395000   372700
   387500   420500   416600   382300   421650   416100   532000]

## Checking for Duplicates in ID columns

In [67]:
has_duplicates = merch['Member_ID'].duplicated().any()

has_duplicates

np.True_

In [68]:
has_duplicates = merch['Product_ID'].duplicated().any()

has_duplicates

np.True_

In [78]:
has_duplicates = fanbase['Membership_ID'].duplicated().any()

has_duplicates

np.False_

Purchase data behaviour: Each product purchase is represented as an instance, so a member ID may show up multiple times if they purchased multiple items. A particular combination of a membership ID and product ID may show up together if someone purchased an item multiple times

## Other Checks

Merch and Fanbase both have member IDs: check to see that customer features (such as age and region) are consistent across both dataframes.

In [94]:
fanbase = fanbase.rename(columns = {'Membership_ID':'Member_ID', 'Age_Group':'Customer_Age_Group'})

fanbase

,Member_ID,Customer_Age_Group,Games_Attended,Seasonal_Pass,Customer_Region
0,10218708,18-25,3,False,Canada
1,10043567,18-25,2,False,Canada
2,14272475,41-60,2,False,Canada
3,10034985,18-25,5,False,Canada
4,10004699,18-25,7,False,Canada
...,...,...,...,...,...
69995,10002392,<18,7,False,Canada
69996,90870179,18-25,3,False,Canada
69997,43388235,18-25,1,False,Canada
69998,22532180,18-25,8,False,Canada
69999,10035894,18-25,6,False,Canada

In [95]:
merged_df = pd.merge(merch, fanbase, on='Member_ID', how='outer', suffixes=('_merch', '_fanbase'), indicator=True)

merged_df

,Product_ID,Barcode,Item_Category,Item_Name,Size,Unit_Price,Customer_Age_Group_merch,Customer_Region_merch,Promotion,Channel,Selling_Date,Member_ID,Arrival_Date,is_end_after_start,Customer_Age_Group_fanbase,Games_Attended,Seasonal_Pass,Customer_Region_fanbase,_merge
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370,NaN,NaN,26-40,4,False,Canada,right_only
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7913,NaN,NaN,26-40,7,False,Canada,right_only
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9041,NaN,NaN,18-25,4,False,Canada,right_only
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13517,NaN,NaN,60+,4,False,Canada,right_only
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18474,NaN,NaN,<18,4,False,India,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99977604,NaN,NaN,26-40,1,False,Canada,right_only
93355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99986747,NaN,NaN,18-25,7,False,Canada,right_only
93356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99991696,NaN,NaN,<18,1,False,Canada,right_only
93357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99995269,NaN,NaN,41-60,6,False,Canada,right_only
93358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999245,NaN,NaN,26-40,6,False,Canada,right_only

In [96]:
unique_to_merch = merged_df[merged_df['_merge'] == 'left_only']
unique_to_fanbase = merged_df[merged_df['_merge'] == 'right_only']

Convert the region column values in fanbase to be either domestic or international
Check that memberIDs contain the same information for age group and region